<div id="analaytics-view">
	<h2>Setup</h2>
	<p><button class="button dark start-tracking">Start Tracking</button></p>
	<p><button class="button dark start-session">Start New Session</button></p>
	<p><button class="button dark end-session">End Current Session</button></p>
	<p><button class="button dark anonymize">Anonymize</button></p>
	<p><button class="button dark set-dispatch-interval">Set Dispatch Interval</button></p>
	<p><button class="button dark dispatch-queue">Dispatch Queue</button></p>
	<h2>Analytics</h2>
	<p><button class="button send-event">Send Event</button></p>
	<p><button class="button send-exception">Send Exception</button></p>
	<p><button class="button send-social">Send Social</button></p>
	<p><button class="button send-timing">Send Timing</button></p>
	<p><button class="button send-transaction">Send Transaction</button></p>
	<p><button class="button send-view">Send View</button></p>
</div>